<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="utf-8">
</head>
<body>
<img src="{SITE_URL}/img/logo.png" alt="{SITE_NAME}" height="75" width="315"><br/>
<p>Bonjour {USERNAME},<br/>
  Merci de vous être enregistré(e) sur <a href="{SITE_URL}" target="_blank">{SITE_NAME}</a>. <br/>
  Votre compte a été créé correctement, il ne vous reste plus qu'à l'activer en cliquant sur le lien suivant : <br/>
  <a href="{ACTKEY_URL}" target="_blank">{ACTKEY_URL}</a></p>
<p></p>
<p>Après activation de votre compte vous pourrez vous connecter à <a href="{SITE_URL}" target="_blank">{SITE_NAME}</a> en utilisant les identifiants suivant :</p>
<p>Username : <b>{USERNAME}</b><br/>
  Password : <b>{PASSWORD}</b></p>
<p></p>
<p>A bientôt sur <a href="{SITE_URL}" target="_blank">{SITE_NAME}</a><br/></p>
<p>Bien cordialement,<br/>
  L'équipe de <a href="{SITE_URL}" target="_blank">{SITE_NAME}</a></p>
</body>
</html>