<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="utf-8">
</head>
<body>
<img src="{SITE_URL}/img/logo.png" alt="{SITE_NAME}" height="75" width="315"><br/>
<p>Bonjour {USERNAME},<br/>
Votre mot de passe a bien été modifié</p>
<p></p>
<p>Vous pouvez désormais vous connecter sur <a href="{SITE_URL}" target="_blank">{SITE_NAME}</a> en utilisant les identifiants suivant :</p>
<p>Username : <b>{USERNAME}</b><br/>
  Password : <b>{PASSWORD}</b></p>
<p></p>
<p>A bientôt sur <a href="{SITE_URL}" target="_blank">{SITE_NAME}</a><br/></p>
<p>Bien cordialement,<br/>
  L'équipe de <a href="{SITE_URL}" target="_blank">{SITE_NAME}</a></p>
</body>
</html>