<script type="text/javascript" language="javascript">
$(".toggle-password").click(function() {
	$(this).toggleClass("eye-open eye-close");
	var input = $($(this).attr("data-toggle"));
	if (input.attr("type") == "password") {
		input.attr("type", "text");
	} else {
		input.attr("type", "password");
	}
});

$(".toggle-password").hover(
	function() {
		var input = $($(this).attr("data-toggle"));
		input.addClass( "hover" );
	},
	function() {
		var input = $($(this).attr("data-toggle"));
		input.removeClass( "hover" );
	}
);

$("#password").hover(
	function() {
		$('*[data-toggle="#password"]').addClass( "hover" );
	},
	function() {
		$('*[data-toggle="#password"]').removeClass( "hover" );
	}
);

$("#new_pwd1").hover(
	function() {
		$('*[data-toggle="#new_pwd1"]').addClass( "hover" );
	},
	function() {
		$('*[data-toggle="#new_pwd1"]').removeClass( "hover" );
	}
);

$("#new_pwd2").hover(
	function() {
		$('*[data-toggle="#new_pwd2"]').addClass( "hover" );
	},
	function() {
		$('*[data-toggle="#new_pwd2"]').removeClass( "hover" );
	}
);
</script>